---
import { Picture } from 'astro:assets';
import img from '~/assets/avatar.png';
import { SiteDescription, SiteTitle } from '~/config';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
---

<MarkdownLayout
	title={SiteTitle}
	description={SiteDescription}
	hide={['title', 'comments']}
	currentNav="Home"
>
	<div class="flex flex-col items-center gap-8 xl:flex-row">
		<Picture class="lg:max-w-xs" src={img} formats={['avif', 'webp']} alt="a dog" loading="eager" />
		<div>
			<h1>大家好！我是张晓刚👋</h1>
			<p>
				这是我的个人网站，我将在这里分享我的技术，学习和生活，希望能对你有所帮助和启发，以下是我的一些个人信息：
			</p>
			<ul class="list-disc">
				<li>
					全栈工程师，WEB开发 / 移动开发 / 游戏开发；
				</li>
				<li>
					<a href="https://byteee.com">云字节</a> 联合创始人，CTO；
				</li>
				<li>爱好：游戏、旅行、自驾；</li>
				<li>三个孩子的爸爸；</li>
				<li>现居 四川.成都.都江堰；</li>
			</ul>
		</div>
	</div>
</MarkdownLayout>
